<nav>
    <ul>
        <li><a href= "{{ path('app_home') }}" >Home</a></li>
        <li><a href= "{{ path('app_super_zero') }}" >Super Zéros</a></li>
        <li><a href= "{{ path('app_mission') }}" >Missions</a></li>
        <li><a href= "{{ path('app_team') }}" >Teams</a></li>
        <li><a href= "{{ path('app_gadget') }}" >Gadgets</a></li>
    </ul>
</nav