<nav>
    
        <a href= "{{ path('app_home') }}" >Home</a>
        <a href= "{{ path('app_super_zero') }}" >Super Zéros</a>
        <a href= "{{ path('app_mission') }}" >Missions</a>
        <a href= "{{ path('app_team') }}" >Teams</a>
        <a href= "{{ path('app_gadget') }}" >Gadgets</a>
    
</nav>