{% extends 'base.html.twig' %}

{% block title %}Hello GadgetController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Voici les gadgets super puissants!!</h1>

    {{dump(gadgets)}}

    {% for gadget in gadgets %}

    <article>
    <h2>{{ gadget.name}}</h2>
    <a href="{{ path('app_gadget_detail', {'id': gadget.id }) }}">
                <p> Voir description du gadget</p>
            </a>
    <ul>
        <li>{{gadget.description}}</li>
        <li>{{gadget.intensity}}</li>
        
            {% for superZero in gadget.superZeros %}
                <!-- finir cette ligne --> 
                {% else %}
                <p>il n'y a pas des super zeros dans cette ligne. </p>                    
            {% endfor %} 
    </ul>
    
    </article>

    {% endfor %}

   
</div>
{% endblock %}
